html {
	--scroll-behavior: smooth;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

* {
	box-sizing: border-box;
}

*::after {
	box-sizing: border-box;
}

*::before {
	box-sizing: inherit;
}
